{%extends 'AllucoSecurityBundle::security.html.twig'%}
{%block breadcrumbcnt%}
<li><a href="{{ path('_front_homepage') }}">{{ faIco('home') }} &nbsp; {{ root.breadcrumbTrans }}</a></li>
<li class="active"><a href="{{ path('_security_lost_password') }}"> {{ staticpage.breadcrumbTrans }}</a></li>
{%endblock breadcrumbcnt%}
{%block content%}
{%include 'SasedevCommonsBootstrapBundle::flash.html.twig' with { 'close': false }%}
{{form_start(LostPasswordForm, {'method':'POST', 'action': path('_security_lost_password'), 'style': 'horizontal', 'attr': {'class': 'contact-form', 'role': 'form' } })}}
{{form_row(LostPasswordForm.username, {'label_col': 3, 'widget_col': 8, 'attr': {'placeholder': '_security.username.placeholder'}})}}
{{form_row(LostPasswordForm.captcha, {'label_col': 3, 'widget_col': 8 })}}
<br>
{{form_row(LostPasswordForm.submit, {'label_col': 3, 'widget_col': 4, 'attr': {'class': 'btn-block btn-primary'} })}}
  <hr>
  <div class="form-group"><div class="col-lg-offset-3 col-lg-4"><a href="{{path('_security_login')}}" class="btn-block btn btn-primary">{{glyphIco('user')}} {{ 'action.btnLogin'|trans }}</a></div></div>
  <div class="form-group"><div class="col-lg-offset-3 col-lg-4"><a href="{{path('_security_register')}}" class="btn-block btn btn-primary">{{ 'action.btnRegister'|trans }}</a></div></div>
</div>
{{form_end(LostPasswordForm)}}
{%endblock content%}