{% extends 'AllucoAdminBundle::template.html.twig' %}
{%block breadcrumb%}
<ol class="breadcrumb">
    <li><a href="{{ path('_admin_homepage') }}">{{ faIco('dashboard') }} &nbsp; {{'Breadcrumb.admin.home'|trans|raw}}</a></li>
    <li><a href="{{ path('_admin_job_list') }}">{{faIco('building-o')}} &nbsp; {{'Breadcrumb.admin.job.list'|trans|raw}}</a></li>
    <li class="active"><a href="{{ path('_admin_job_editGet', {'id': job.id}) }}">{{glyphIco('edit')}} &nbsp; {{'Breadcrumb.admin.job.edit'|trans({'%job%': job.name})|raw}}</a></li>
</ol>
{%endblock breadcrumb%}
{%block content%}
<div class="row">
    <div class="col-lg-12">
        <div class="well well-sm text-right">
            <a href="{{ path('_admin_job_list') }}" class="btn btn-primary">{{ faIco('th') }} {{ 'Action.list'|trans }}</a>
            <a href="{{ path('_admin_job_addGet') }}" class="btn btn-primary">{{ glyphIco('plus') }} {{ 'Action.add'|trans }}</a>
        </div>
        <div class="nav-tabs-custom">
            <ul class="nav nav-tabs">
                <li {%if tabActive==1%} class="active"{%endif%}><a href="#overview" data-toggle="tab">{{'Job.tab.overview'|trans|raw}}</a></li>
                <li {%if tabActive==2%} class="active"{%endif%}><a href="#edit" data-toggle="tab">{{'Job.tab.edit'|trans|raw}}</a></li>
                {% for jobTrans in job.i18ns %}
                <li {%if tabActive==jobTrans.lang.locale%} class="active"{%endif%}><a href="#{{ jobTrans.lang.locale }}" data-toggle="tab">{{'Job.tab.trans'|trans({'%lang%': jobTrans.lang.name})|raw}}</a></li>
                {% endfor %}

            </ul>
            <div class="tab-content">
                <div class="tab-pane fade{%if tabActive==1%} in active{%endif%}" id="overview">
                    <div class="panel box box-primary">
                        <div class="box-header"><h3 class="box-title">{{'Job.tlabel.overview'|trans}}</h3></div>
                        <div class="box-body">
                            <div class="row">
                                <div class="col-lg-3 text-right">{{'Job.name'|trans|raw}} :</div>
                                <div class="col-lg-9">{{job.name}}&nbsp;</div>
                                <div class="col-lg-3 text-right">{{'Job.rank'|trans|raw}} :</div>
                                <div class="col-lg-9">{{ job.rank }}&nbsp;</div>
                                <div class="col-lg-3 text-right">{{'Job.status'|trans|raw}} :</div>
                                <div class="col-lg-9">{{ ('Job.status.'~job.status)|trans }}&nbsp;</div>
                                <div class="col-lg-12">&nbsp;</div>
                                <div class="col-lg-3 text-right">{{'Job.dtCrea'|trans|raw}} :</div>
                                <div class="col-lg-9">{{job.dtCrea|localeDate('medium')}} {{'_At'|trans}} {{job.dtCrea|localeDate('none', 'short')}}&nbsp;</div>
                                <div class="col-lg-3 text-right">{{'Job.dtUpdate'|trans|raw}} :</div>
                                <div class="col-lg-9">{{job.dtUpdate|localeDate('medium')}} {{'_At'|trans}} {{job.dtUpdate|localeDate('none', 'short')}}&nbsp;</div>
                                <br>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade{%if tabActive==2%} in active{%endif%}" id="edit">
                    <div class="panel box box-danger">
                        <div class="box-header"><h3 class="box-title">{{'Job.tlabel.editName'|trans}}</h3></div>
                        <div class="box-body">
                            {{form_start(JobUpdateNameForm, {'method':'POST', 'action': path('_admin_job_editPost', {'id': job.id}), 'style': 'horizontal'})}}
                            {{form_row(JobUpdateNameForm.name, {'label_col': 3, 'widget_col': 5})}}
                            <div class="form-group"><div class="col-lg-offset-3 col-lg-2"><button class="btn-primary btn" type="submit">{{glyphIco('save')}} {{'Action.btnEdit'|trans|raw}}</button></div></div>
                            {{form_end(JobUpdateNameForm)}}
                        </div>
                    </div>
                    <div class="panel box box-danger">
                        <div class="box-header"><h3 class="box-title">{{'Job.tlabel.editRank'|trans}}</h3></div>
                        <div class="box-body">
                            {{form_start(JobUpdateRankForm, {'method':'POST', 'action': path('_admin_job_editPost', {'id': job.id}), 'style': 'horizontal'})}}
                            {{form_row(JobUpdateRankForm.rank, {'label_col': 3, 'widget_col': 3 })}}
                            <div class="form-group"><div class="col-lg-offset-3 col-lg-2"><button class="btn-primary btn" type="submit">{{glyphIco('save')}} {{'Action.btnEdit'|trans|raw}}</button></div></div>
                            {{form_end(JobUpdateRankForm)}}
                        </div>
                    </div>
                    <div class="panel box box-danger">
                        <div class="box-header"><h3 class="box-title">{{'Job.tlabel.editStatus'|trans}}</h3></div>
                        <div class="box-body">
                            {{form_start(JobUpdateStatusForm, {'method':'POST', 'action': path('_admin_job_editPost', {'id': job.id}), 'style': 'horizontal'})}}
                            {{form_row(JobUpdateStatusForm.status, {'label_col': 3, 'widget_col': 8 })}}
                            <div class="form-group"><div class="col-lg-offset-3 col-lg-2"><button class="btn-primary btn" type="submit">{{glyphIco('save')}} {{'Action.btnEdit'|trans|raw}}</button></div></div>
                            {{form_end(JobUpdateStatusForm)}}
                        </div>
                    </div>
                </div>
                {% for jobTrans in job.i18ns %}
                <div class="tab-pane fade{%if tabActive==jobTrans.lang.locale%} in active{%endif%}" id="{{ jobTrans.lang.locale }}">
                    <div class="panel box box-primary">
                        <div class="box-header"><h3 class="box-title">{{'JobTrans.tlabel.overview'|trans}}</h3></div>
                        <div class="box-body">
                            <div class="row">
                                <div class="col-lg-3 text-right">{{'JobTrans.name'|trans|raw}} :</div>
                                <div class="col-lg-9">{{jobTrans.name}}&nbsp;</div>
                                <div class="col-lg-12">&nbsp;</div>
                                <div class="col-lg-3 text-right">{{'JobTrans.dtCrea'|trans|raw}} :</div>
                                <div class="col-lg-9">{{jobTrans.dtCrea|localeDate('medium')}} {{'_At'|trans}} {{jobTrans.dtCrea|localeDate('none', 'short')}}&nbsp;</div>
                                <div class="col-lg-3 text-right">{{'JobTrans.dtUpdate'|trans|raw}} :</div>
                                <div class="col-lg-9">{{jobTrans.dtUpdate|localeDate('medium')}} {{'_At'|trans}} {{jobTrans.dtUpdate|localeDate('none', 'short')}}&nbsp;</div>
                                <br>
                            </div>
                        </div>
                    </div>
                    <div class="panel box box-danger">
                        <div class="box-header"><h3 class="box-title">{{'JobTrans.tlabel.editName'|trans}}</h3></div>
                        <div class="box-body">
                            {% set JobTransUpdateNameForm_loc = JobTransUpdateNameForm[jobTrans.lang.locale] %}
                            {{form_start(JobTransUpdateNameForm_loc, {'method':'POST', 'action': path('_admin_job_editPost', {'id': job.id}), 'style': 'horizontal'})}}
                            {{form_row(JobTransUpdateNameForm_loc.name, {'label_col': 3, 'widget_col': 5})}}
                            <div class="form-group"><div class="col-lg-offset-3 col-lg-2"><button class="btn-primary btn" type="submit">{{glyphIco('save')}} {{'Action.btnEdit'|trans|raw}}</button></div></div>
                            {{form_end(JobTransUpdateNameForm_loc)}}
                            {#
                            #}
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{%endblock content%}
