{% extends 'AllucoFrontBundle::template.html.twig' %}
{%block static_css%} {{ parent() }}
<link rel="stylesheet" type="text/css" href="{{asset('bundles/allucores/css/bootstrap/datetimepicker/2.3.1.css')}}">
<link rel="stylesheet" type="text/css" href="{{asset('bundles/allucores/css/bootstrap/chosen/1.2.0.css')}}">
<link rel="stylesheet" type="text/css" href="{{asset('bundles/allucores/css/bootstrap/fileinput/2.4.0.css')}}">
<link rel="stylesheet" type="text/css" href="{{asset('bundles/allucores/css/jquery/ui/jquery-ui-1.10.3.custom.css')}}">
<link rel="stylesheet" type="text/css" href="{{asset('bundles/allucores/css/jquery/jcrop/0.9.12.css')}}">
{% if quotation is defined %}
<meta http-equiv="refresh" content="5; url={{ path('_front_quotationDl', {'id': quotation}) }}">
{% endif %}
{%endblock static_css%}
{%block end_static_js%}
{{ parent() }}
<script type="text/javascript" src="{{asset('bundles/allucores/js/tinymce/jquery.tinymce.min.js')}}"></script>
<script type="text/javascript" src="{{asset('bundles/allucores/js/bootstrap/datetimepicker/2.3.1.js')}}"></script>
{%if app.request.locale != 'en'%}
<script type="text/javascript" src="{{asset('bundles/allucores/js/bootstrap/datetimepicker/locales/2.3.1.'~app.request.locale~'.js')}}"></script>
{% endif %}
<script type="text/javascript" src="{{asset('bundles/allucores/js/bootstrap/chosen/1.2.0.js')}}"></script>
<script type="text/javascript" src="{{asset('bundles/allucores/js/bootstrap/fileinput/2.4.0.js')}}"></script>
<script type="text/javascript" src="{{asset('bundles/allucores/js/jquery/ui/jquery-ui.min.js')}}"></script>
<script type="text/javascript" src="{{asset('bundles/allucores/js/jquery/form/20130711.min.js')}}"></script>
<script type="text/javascript" src="{{asset('bundles/allucores/js/jquery/color/2.0pre.js')}}"></script>
<script type="text/javascript" src="{{asset('bundles/allucores/js/jquery/jcrop/0.9.12.js')}}"></script>
{%endblock end_static_js%}
{%block end2_dynamic_jstxt%}
$(function() {
    $('textarea.wysiwyg').each(function() {
        var options = {
            script_url : '{{asset('bundles/allucores/js/tinymce/tinymce.min.js')}}',
            theme: "modern",
            plugins: [ "advlist autolink lists link image charmap preview hr anchor pagebreak", "searchreplace wordcount visualblocks visualchars code fullscreen", "nonbreaking save table contextmenu directionality", "template paste textcolor" ],
            {%if app.request.locale != 'en'%}
            language : '{{ app.request.locale }}',
            {% endif %}
            menubar: false,
            toolbar: "insertfile undo redo | styleselect | bold italic | forecolor backcolor | alignleft aligncenter alignright alignjustify | preview "
        };
        $this = $(this);
        if($this.is('[required]')) {
            options.oninit = function(editor) {
                editor.on('change', function(e) {
                    editor.save();
                });
            }
        }
        $this.tinymce(options);
    });

    $('#UserUpdateProfileForm_birthday').datetimepicker({
        weekStart: 1,
        startView: 4,
        minView: 2,
        autoclose: true,
        todayHighlight: true,
        language: "{{app.request.locale}}",
        format: 'yyyy-mm-dd'
    });

    $('#UserUpdateProfileForm_sexe').chosen({width: "100%", disable_search_threshold: 10});

    $('#UserUpdateProfileForm_country').chosen({width: "100%", disable_search_threshold: 10, allow_single_deselect:true});

    $('#UserUpdatePreferedLangForm_preferedLang').chosen({width: "100%", disable_search_threshold: 10, allow_single_deselect:true});

    $('#UserUpdateJobForm_job').chosen({width: "100%", disable_search_threshold: 10, allow_single_deselect:true});

    $("#UserUploadAvatarForm_avatar").fileinput({'showUpload':false, 'previewFileType':'image', browseClass: "btn btn-success", browseLabel: " Image", browseIcon: '{{glyphIco('picture')}}', removeClass: "btn btn-danger", removeLabel: "Delete", removeIcon: '{{glyphIco('trash')}}'});

    var bar = $('.bar');
    var percent = $('.percent');
    var status = $('#status');
    var avatar_sel = $('#avatar_sel');

    $("#dialog").dialog({autoOpen: false, maxWidth: 500, maxHeight: 500, modal: true});

    $('#avatar_upload').ajaxForm({
        beforeSend: function() {
            $("#dialog").dialog("open");
            status.empty();
            avatar_sel.empty();
            var percentVal = '0%';
            bar.width(percentVal);
            percent.html(percentVal);
        },
        uploadProgress: function(event, position, total, percentComplete) {
            var percentVal = percentComplete + '%';
            bar.width(percentVal);
            percent.html(percentVal);
        },
        complete: function(xhr) {
            $("#dialog").dialog("close");
            avatar_sel.html(xhr.responseText);
        }
    });



});
{%endblock end2_dynamic_jstxt%}
{%block breadcrumbcnt%}
<li><a href="{{ path('_front_homepage') }}">{{ faIco('home') }} &nbsp; {{ root.breadcrumbTrans }}</a></li>
<li class="active"><a href="{{ path('_security_profile') }}">{{glyphIco('user')}} &nbsp; {{ staticpage.breadcrumbTrans }}</a></li>
{%endblock breadcrumbcnt%}
{% block banner %}{% endblock banner %}
{%block content%}
    {%include 'SasedevCommonsBootstrapBundle::flash.html.twig' with { 'close': false }%}
    <div class="nav-tabs-custom">
        <ul class="nav nav-tabs">
            <li {%if tabActive==1%} class="active" {%endif%}><a href="#overview" data-toggle="tab">{{'profile.tab.overview'|trans|raw}}</a></li>
            <li {%if tabActive==2%} class="active" {%endif%}><a href="#edit" data-toggle="tab">{{'profile.tab.edit'|trans|raw}}</a></li>
            <li {%if tabActive==3%} class="active" {%endif%}><a href="#quotation" data-toggle="tab">{{'profile.tab.quotation'|trans|raw}}</a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane fade{%if tabActive==1%} in active{%endif%}" id="overview">
                <h3 class="classic-title">{{'profile.tlabel.overview'|trans}}</h3>
                <div class="row">
                    <div class="col-lg-3 text-right">{{'profile.username'|trans }} :</div>
                    <div class="col-lg-9">{{user.username}}</div>
                    <div class="col-lg-3 text-right">{{'profile.email'|trans}} :</div>
                    <div class="col-lg-9">
                        <a href="mailto:{{user.email}}">{{user.email}}</a>
                    </div>
                    <div class="col-lg-3 text-right">{{'profile.dtCrea'|trans}} :</div>
                    <div class="col-lg-9">{{user.dtCrea|localeDate('full')}} {{'_at'|trans}} {{user.dtCrea|localeDate('none','medium')}}</div>
                    <div class="col-lg-3 text-right">{{'profile.logins'|trans}} :</div>
                    <div class="col-lg-9">{{user.logins}}</div>
                    <div class="col-lg-3 text-right">{{'profile.lastLogin'|trans}} :</div>
                    <div class="col-lg-9">{%if user.lastLogin is not null%}{{user.lastLogin|localeDate('full')}} {{'_at'|trans}} {{user.lastLogin|localeDate('none', 'medium')}}{%else%}{{bsLabelWarning('_NA'|trans|raw)}}{%endif%}</div>
                </div>
                {%if user.avatar is not empty%}
                <div class="row">
                    <div class="col-lg-12"><br></div>
                    <div class="col-lg-3 text-right">{{'profile.avatar'|trans}} :</div>
                    <div class="col-lg-9">
                        <img class="img-responsive img-thumbnail" alt="{{user.fullName}}" src="{{asset('res/avatars/'~user.avatar)}}">
                    </div>
                </div>
                {%endif%}
                <div class="row">
                    <div class="col-lg-12"><br></div>
                    <div class="col-lg-3 text-right">{{'profile.sexe'|trans}} :</div>
                    <div class="col-lg-9">{%if user.sexe is not null%}{{('profile.sexe.'~user.sexe)|trans|raw}}{%else%}{{bsLabelWarning('_NA'|trans|raw)}}{%endif%}</div>
                    <div class="col-lg-3 text-right">{{'profile.lastName'|trans}} :</div>
                    <div class="col-lg-9">{%if user.lastName is not null%}{{user.lastName}}{%else%}{{bsLabelWarning('_NA'|trans|raw)}}{%endif%}</div>
                    <div class="col-lg-3 text-right">{{'profile.firstName'|trans}} :</div>
                    <div class="col-lg-9">{%if user.firstName is not null%}{{user.firstName}}{%else%}{{bsLabelWarning('_NA'|trans|raw)}}{%endif%}</div>
                    <div class="col-lg-12"><br></div>
                    <div class="col-lg-3 text-right">{{'profile.mobile'|trans}} :</div>
                    <div class="col-lg-9">
                        {%if user.mobile is not null%}<a href="tel:{{user.mobile}}">{{glyphIco('phone')}} {{user.mobile}}</a>{%else%}{{bsLabelWarning('_NA'|trans|raw)}}{%endif%}
                    </div>
                    <div class="col-lg-3 text-right">{{'profile.phone'|trans}} :</div>
                    <div class="col-lg-9">
                        {%if user.phone is not null%}<a href="tel:{{user.phone}}">{{glyphIco('phone-alt')}} {{user.phone}}</a>{%else%}{{bsLabelWarning('_NA'|trans|raw)}}{%endif%}
                    </div>
                    <div class="col-lg-12"><br></div>
                    <div class="col-lg-3 text-right">{{'profile.birthday'|trans}} :</div>
                    <div class="col-lg-9">{%if user.birthday is not null%}{{user.birthday|localeDate('full')}}{%else%}{{bsLabelWarning('_NA'|trans|raw)}}{%endif%}</div>
                    <div class="col-lg-12"><br></div>
                    <div class="col-lg-3 text-right">{{'profile.streetNum'|trans}} :</div>
                    <div class="col-lg-9">{%if user.streetNum is not empty%}{{user.streetNum|raw}}{%else%}{{bsLabelWarning('_NA'|trans|raw)}}{%endif%}</div>
                    <div class="col-lg-3 text-right">{{'profile.address'|trans}} :</div>
                    <div class="col-lg-9">{%if user.address is not empty%}{{user.address|raw}}{%else%}{{bsLabelWarning('_NA'|trans|raw)}}{%endif%}</div>
                    <div class="col-lg-3 text-right">{{'profile.address2'|trans}} :</div>
                    <div class="col-lg-9">{%if user.address2 is not empty%}{{user.address2|raw}}{%else%}{{bsLabelWarning('_NA'|trans|raw)}}{%endif%}</div>
                    <div class="col-lg-3 text-right">{{'profile.town'|trans}} :</div>
                    <div class="col-lg-9">{%if user.town is not empty%}{{user.town}}{%else%}{{bsLabelWarning('_NA'|trans|raw)}}{%endif%}</div>
                    <div class="col-lg-3 text-right">{{'profile.zipCode'|trans}} :</div>
                    <div class="col-lg-9">{%if user.zipCode is not empty%}{{user.zipCode}}{%else%}{{bsLabelWarning('_NA'|trans|raw)}}{%endif%}</div>
                    <div class="col-lg-3 text-right">{{'profile.country'|trans}} :</div>
                    <div class="col-lg-9">{%if user.country is not empty%}{{user.country|country}}{%else%}{{bsLabelWarning('_NA'|trans|raw)}}{%endif%}</div>
                    <div class="col-lg-12"><br></div>
                    <div class="col-lg-3 text-right">{{'profile.job'|trans}} :</div>
                    <div class="col-lg-9">{%if user.job is not null%}{{user.job.name}}{%else%}{{bsLabelWarning('_NA'|trans|raw)}}{%endif%}</div>
                    <div class="col-lg-3 text-right">{{'profile.company'|trans}} :</div>
                    <div class="col-lg-9">{%if user.company is not empty%}{{user.company}}{%else%}{{bsLabelWarning('_NA'|trans|raw)}}{%endif%}</div>
                    <div class="col-lg-3 text-right">{{'profile.fisc'|trans}} :</div>
                    <div class="col-lg-9">{%if user.fisc is not empty%}{{user.fisc}}{%else%}{{bsLabelWarning('_NA'|trans|raw)}}{%endif%}</div>

                </div>
            </div>
            <div class="tab-pane fade{%if tabActive==2%} in active{%endif%}" id="edit">
                <h3 class="classic-title">{{'profile.tlabel.editAvatar'|trans|raw}}</h3>
                {{form_start(UserUploadAvatarForm, {'method':'POST', 'action': path('_security_profile_post'), 'style': 'horizontal', 'attr': {'id':'avatar_upload'}})}}
                {{form_row(UserUploadAvatarForm.avatar, {'label_col': 3, 'widget_col': 8, 'attr': {'class': 'wysiwyg'} })}}
                <div class="form-group"><div class="col-lg-offset-3 col-lg-2"><button class="btn-primary btn" type="submit">{{glyphIco('save')}} {{'action.btnUpload'|trans|raw}}</button></div></div>
                {{form_end(UserUploadAvatarForm)}}
                <div id="avatar_sel"></div>
                <div id="dialog" title="{{'profile.tlabel.editAvatar.crop'|trans}}">
                    <div class="progress">
                        <div class="bar"></div>
                        <div class="percent">0%</div>
                    </div>
                    <div id="status"></div>
                </div>

                <br>

                <h3 class="classic-title">{{'profile.tlabel.editProfile'|trans|raw}}</h3>
                {{form_start(UserUpdateProfileForm, {'method':'POST','action': path('_security_profile_post') ,'style': 'horizontal' }) }}
                {{form_row(UserUpdateProfileForm.sexe, {'label_col': 3, 'widget_col': 3})}}
                {{form_row(UserUpdateProfileForm.firstName, {'label_col': 3, 'widget_col': 5})}}
                {{form_row(UserUpdateProfileForm.lastName, {'label_col': 3, 'widget_col': 5})}}
                {{form_row(UserUpdateProfileForm.birthday, {'label_col': 3, 'widget_col': 3})}}
                {{form_row(UserUpdateProfileForm.streetNum, {'label_col': 3, 'widget_col': 3})}}
                {{form_row(UserUpdateProfileForm.address, {'label_col': 3, 'widget_col': 8, 'attr': {'class': 'wysiwyg'} })}}
                {{form_row(UserUpdateProfileForm.address2, {'label_col': 3, 'widget_col': 8, 'attr': {'class': 'wysiwyg'} })}}
                {{form_row(UserUpdateProfileForm.town, {'label_col': 3, 'widget_col': 5})}}
                {{form_row(UserUpdateProfileForm.zipCode, {'label_col': 3, 'widget_col': 3})}}
                {{form_row(UserUpdateProfileForm.country, {'label_col': 3, 'widget_col': 6})}}
                {{form_row(UserUpdateProfileForm.phone, {'label_col': 3, 'widget_col': 5 })}}
                {{form_row(UserUpdateProfileForm.mobile, {'label_col': 3, 'widget_col': 5 })}}
                <div class="form-group"><div class="col-lg-offset-3 col-lg-2"><button class="btn-primary btn" type="submit">{{glyphIco('save')}} {{'action.btnEdit'|trans|raw}}</button></div></div>
                {{form_end(UserUpdateProfileForm)}}

                <br>

                <h3 class="classic-title">{{'profile.tlabel.editJob'|trans|raw}}</h3>

                {{form_start(UserUpdateJobForm, {'method':'POST','action': path('_security_profile_post') ,'style': 'horizontal' }) }}
                {{form_row(UserUpdateJobForm.job, {'label_col': 3, 'widget_col': 5 })}}
                {{form_row(UserUpdateJobForm.company, {'label_col': 3, 'widget_col': 5 })}}
                {{form_row(UserUpdateJobForm.fisc, {'label_col': 3, 'widget_col': 5 })}}
                <div class="form-group"><div class="col-lg-offset-3 col-lg-2"><button class="btn-primary btn" type="submit">{{glyphIco('save')}} {{'action.btnEdit'|trans|raw}}</button></div></div>
                {{form_end(UserUpdateJobForm)}}

                <br>

                <h3 class="classic-title">{{'profile.tlabel.editPreferedLang'|trans|raw}}</h3>

                {{form_start(UserUpdatePreferedLangForm, {'method':'POST','action': path('_security_profile_post') ,'style': 'horizontal' }) }}
                {{form_row(UserUpdatePreferedLangForm.preferedLang, {'label_col': 3, 'widget_col': 5 })}}
                <div class="form-group"><div class="col-lg-offset-3 col-lg-2"><button class="btn-primary btn" type="submit">{{glyphIco('save')}} {{'action.btnEdit'|trans|raw}}</button></div></div>
                {{form_end(UserUpdatePreferedLangForm)}}

                <h3 class="classic-title">{{'profile.tlabel.editEmail'|trans|raw}}</h3>
                {{form_start(UserUpdateEmailForm, {'method':'POST','action': path('_security_profile_post') ,'style': 'horizontal' }) }}
                {{form_row(UserUpdateEmailForm.email, {'label_col': 3, 'widget_col': 5 })}}
                <div class="form-group"><div class="col-lg-offset-3 col-lg-2"><button class="btn-primary btn" type="submit">{{glyphIco('save')}} {{'action.btnEdit'|trans|raw}}</button></div></div>
                {{form_end(UserUpdateEmailForm)}}

                <br>

                <h3 class="classic-title">{{'profile.tlabel.editPassword'|trans|raw}}</h3>
                {{form_start(UserUpdatePasswordForm, {'method':'POST','action': path('_security_profile_post') ,'style': 'horizontal' }) }}
                {{form_row(UserUpdatePasswordForm.oldPassword, { 'label_col': 3, 'widget_col': 5, 'input_group': {'append': glyphIco('asterisk')} })}}
                {{form_row(UserUpdatePasswordForm.clearPassword, { 'label_col': 3, 'widget_col': 5})}}
                <div class="form-group"><div class="col-lg-offset-3 col-lg-2"><button class="btn-primary btn" type="submit">{{glyphIco('save')}} {{'action.btnEdit'|trans|raw}}</button></div></div>
                {{form_end(UserUpdatePasswordForm) }}
            </div>
            <div class="tab-pane fade{%if tabActive==3%} in active{%endif%}" id="quotation">
                <h3 class="classic-title">{{'profile.tlabel.quotation'|trans|raw}}</h3>
                {% for quot in user.quotations %}
                - <a href="{{ path('_front_quotationDl', {'id': quot.id}) }}">{{ quot.id }} - {{ quot.type }} - {{quot.dtCrea|localeDate('full')}} {{'_at'|trans}} {{quot.dtCrea|localeDate('none', 'medium')}} </a> <br>
                {% else %}
                {{ 'Quotation.notfound'|trans }}
                {% endfor %}
            </div>
        </div>
    </div>
{%endblock content%}
