{% extends 'AllucoAdminBundle::template.html.twig' %}
{%block static_css%} {{ parent() }}
<link rel="stylesheet" type="text/css" href="{{asset('bundles/allucores/css/bootstrap/fileinput/2.4.0.css')}}">
<link rel="stylesheet" type="text/css" href="{{asset('bundles/allucores/css/bootstrap/chosen/1.2.0.css')}}">
{%endblock static_css%}
{%block end_static_js%}
{{ parent() }}
<script type="text/javascript" src="{{asset('bundles/allucores/js/bootstrap/fileinput/2.4.0.js')}}"></script>
<script type="text/javascript" src="{{asset('bundles/allucores/js/bootstrap/chosen/1.2.0.js')}}"></script>
{%endblock end_static_js%}
{%block end2_dynamic_jstxt%}
$(function() {
    $("#ProductdocNewForm_filename").fileinput({'showUpload':false, browseClass: "btn btn-success", browseLabel: " Documents", browseIcon: '{{faIco('folder-open')}}', removeClass: "btn btn-danger", removeLabel: "Delete", removeIcon: '{{glyphIco('trash')}}'});

    $('#ProductdocNewForm_product').chosen({width: "100%", disable_search_threshold: 10, allow_single_deselect:true});
});
{%endblock end2_dynamic_jstxt%}
{%block breadcrumb%}
<ol class="breadcrumb">
    <li><a href="{{ path('_admin_homepage') }}">{{ faIco('dashboard') }} &nbsp; {{'Breadcrumb.admin.home'|trans|raw}}</a></li>
    <li><a href="{{ path('_admin_productdoc_list') }}">{{faIco('file-o')}} &nbsp; {{'Breadcrumb.admin.productdoc.list'|trans|raw}}</a></li>
    <li class="active"><a href="{{ path('_admin_productdoc_addGet') }}">{{glyphIco('plus')}} &nbsp; {{'Breadcrumb.admin.productdoc.add'|trans|raw}}</a></li>
</ol>
{%endblock breadcrumb%}
{%block content%}
<div class="row">
    <div class="col-lg-12">
        <div class="well well-sm text-right">
            <a href="{{ path('_admin_productdoc_list') }}" class="btn btn-primary">{{ faIco('th') }} {{ 'Action.list'|trans }}</a>
        </div>
        <div class="box box-primary">
            <div class="box-header">
                <h3 class="box-title">{{ 'Productdoc.tlabel.add'|trans|raw}}</h3>
            </div>
            <div class="box-body">
                {{form_start(ProductdocNewForm, {'method':'POST', 'action': path('_admin_productdoc_addPost'), 'style': 'horizontal'})}}
                {{form_row(ProductdocNewForm.product, {'label_col': 3, 'widget_col': 8})}}
                {{form_row(ProductdocNewForm.filename, {'label_col': 3, 'widget_col': 8})}}
                {{form_row(ProductdocNewForm.title, {'label_col': 3, 'widget_col': 8})}}
                {{form_row(ProductdocNewForm.rank, {'label_col': 3, 'widget_col': 3})}}
                <div class="form-group"><div class="col-lg-offset-3 col-lg-2"><button class="btn-primary btn" type="submit">{{glyphIco('save')}} {{'Action.btnAdd'|trans|raw}}</button></div></div>
                {{form_end(ProductdocNewForm)}}
            </div>
        </div>
    </div>
</div>
{%endblock content%}
