{% extends 'AllucoAdminBundle::template.html.twig' %}
{%block static_css%} {{ parent() }}
<link rel="stylesheet" type="text/css" href="{{asset('bundles/allucores/css/bootstrap/datetimepicker/2.3.1.css')}}">
<link rel="stylesheet" type="text/css" href="{{asset('bundles/allucores/css/bootstrap/chosen/1.2.0.css')}}">
<link rel="stylesheet" type="text/css" href="{{asset('bundles/allucores/css/bootstrap/duallistbox/3.0.2.css')}}">
<link rel="stylesheet" type="text/css" href="{{asset('bundles/allucores/css/bootstrap/fileinput/2.4.0.css')}}">
<link rel="stylesheet" type="text/css" href="{{asset('bundles/allucores/css/jquery/ui/jquery-ui-1.10.3.custom.css')}}">
<link rel="stylesheet" type="text/css" href="{{asset('bundles/allucores/css/jquery/jcrop/0.9.12.min.css')}}">
{%endblock static_css%}
{%block end_static_js%}
{{ parent() }}
<script type="text/javascript" src="{{asset('bundles/allucores/js/tinymce/jquery.tinymce.min.js')}}"></script>
<script type="text/javascript" src="{{asset('bundles/allucores/js/bootstrap/datetimepicker/2.3.1.js')}}"></script>
{%if app.request.locale != 'en'%}
<script type="text/javascript" src="{{asset('bundles/allucores/js/bootstrap/datetimepicker/locales/2.3.1.'~app.request.locale~'.js')}}"></script>
{% endif %}
<script type="text/javascript" src="{{asset('bundles/allucores/js/bootstrap/chosen/1.2.0.js')}}"></script>
<script type="text/javascript" src="{{asset('bundles/allucores/js/bootstrap/duallistbox/3.0.2.js')}}"></script>
<script type="text/javascript" src="{{asset('bundles/allucores/js/bootstrap/fileinput/2.4.0.js')}}"></script>
<script type="text/javascript" src="{{asset('bundles/allucores/js/jquery/ui/jquery-ui.min.js')}}"></script>
<script type="text/javascript" src="{{asset('bundles/allucores/js/jquery/form/20130711.min.js')}}"></script>
<script type="text/javascript" src="{{asset('bundles/allucores/js/jquery/color/2.0pre.js')}}"></script>
<script type="text/javascript" src="{{asset('bundles/allucores/js/jquery/jcrop/0.9.12.min.js')}}"></script>
{%endblock end_static_js%}
{%block end2_dynamic_jstxt%}
$(function() {
    $('textarea.wysiwyg').each(function() {
        var options = {
            script_url : '{{asset('bundles/allucores/js/tinymce/tinymce.min.js')}}',
            theme: "modern",
            plugins: [ "advlist autolink lists link image charmap preview hr anchor pagebreak", "searchreplace wordcount visualblocks visualchars code", "nonbreaking save table contextmenu directionality", "paste textcolor", "responsivefilemanager" ],
            {%if app.request.locale != 'en'%}
            language : '{{ app.request.locale }}',
            {% endif %}
            toolbar: "insertfile undo redo | styleselect | fontselect fontsizeselect | bold italic | forecolor backcolor | alignleft aligncenter alignright alignjustify | responsivefilemanager | preview ",
            external_filemanager_path:"/filemanager/",
            filemanager_title:"Responsive Filemanager" ,
            external_plugins: { "filemanager" : "/filemanager/plugin.min.js"},
            content_css : "{{asset('bundles/allucores/css/theme/Bootstrap/3.3.4.css')}}, {{asset('bundles/allucores/css/theme/margo/style.css')}}"
        };
        $this = $(this);
        if($this.is('[required]')) {
            options.oninit = function(editor) {
                editor.on('change', function(e) {
                    editor.save();
                });
            }
        }
        $this.tinymce(options);
    });

    $('#UserUpdateLockoutForm_lockout').chosen({width: "100%", disable_search_threshold: 10});

    $('#UserUpdateProfileForm_birthday').datetimepicker({
        weekStart: 1,
        startView: 4,
        minView: 2,
        autoclose: true,
        todayHighlight: true,
        language: "{{app.request.locale}}",
        format: 'yyyy-mm-dd'
    });

    $('#UserUpdateProfileForm_sexe').chosen({width: "100%", disable_search_threshold: 10});

    $('#UserUpdateProfileForm_country').chosen({width: "100%", disable_search_threshold: 10, allow_single_deselect:true});

    $('#UserUpdatePreferedLangForm_preferedLang').chosen({width: "100%", disable_search_threshold: 10, allow_single_deselect:true});

    $('#UserUpdateJobForm_job').chosen({width: "100%", disable_search_threshold: 10, allow_single_deselect:true});

    $('#UserUpdateUserRolesForm_userRoles').bootstrapDualListbox({
        nonselectedlistlabel: 'Non-selected',
        selectedlistlabel: 'Selected',
        preserveselectiononmove: 'moved',
        moveonselect: false,
        initialfilterfrom: ''
    });

    $("#UserUploadAvatarForm_avatar").fileinput({'showUpload':false, 'previewFileType':'image', browseClass: "btn btn-success", browseLabel: " Image", browseIcon: '{{glyphIco('picture')}}', removeClass: "btn btn-danger", removeLabel: "Delete", removeIcon: '{{glyphIco('trash')}}'});

    var bar = $('.bar');
    var percent = $('.percent');
    var status = $('#status');
    var avatar_sel = $('#avatar_sel');

    $("#dialog").dialog({autoOpen: false, maxWidth: 500, maxHeight: 500, modal: true});

    $('#avatar_upload').ajaxForm({
        beforeSend: function() {
            $("#dialog").dialog("open");
            status.empty();
            avatar_sel.empty();
            var percentVal = '0%';
            bar.width(percentVal);
            percent.html(percentVal);
        },
        uploadProgress: function(event, position, total, percentComplete) {
            var percentVal = percentComplete + '%';
            bar.width(percentVal);
            percent.html(percentVal);
        },
        complete: function(xhr) {
            $("#dialog").dialog("close");
            avatar_sel.html(xhr.responseText);
        }
    });
});
{%endblock end2_dynamic_jstxt%}
{%block breadcrumb%}
<ol class="breadcrumb">
    <li><a href="{{ path('_admin_homepage') }}">{{ faIco('dashboard') }} &nbsp; {{'Breadcrumb.admin.home'|trans|raw}}</a></li>
    <li><a href="{{ path('_admin_user_list') }}">{{faIco('users')}} &nbsp; {{'Breadcrumb.admin.user.list'|trans|raw}}</a></li>
    <li class="active"><a href="{{ path('_admin_user_editGet', {'id': user.id}) }}">{{glyphIco('edit')}} &nbsp; {{'Breadcrumb.admin.user.edit'|trans({'%user%': user.username})|raw}}</a></li>
</ol>
{%endblock breadcrumb%}
{%block content%}
<div class="row">
    <div class="col-lg-12">
        <div class="well well-sm text-right">
            <a href="{{ path('_admin_user_list') }}" class="btn btn-primary">{{ faIco('th') }} {{ 'Action.list'|trans }}</a>
            <a href="{{ path('_admin_user_addGet') }}" class="btn btn-primary">{{ glyphIco('plus') }} {{ 'Action.add'|trans }}</a>
        </div>
        <div class="nav-tabs-custom">
            <ul class="nav nav-tabs">
                <li {%if tabActive==1%} class="active"{%endif%}><a href="#overview" data-toggle="tab">{{'User.tab.overview'|trans|raw}}</a></li>
                <li {%if tabActive==2%} class="active"{%endif%}><a href="#edit" data-toggle="tab">{{'User.tab.edit'|trans|raw}}</a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane fade{%if tabActive==1%} in active{%endif%}" id="overview">
                    <div class="panel box box-primary">
                        <div class="box-header"><h3 class="box-title">{{'User.tlabel.overview'|trans}}</h3></div>
                        <div class="box-body">
                            <div class="row">
                                <div class="col-lg-3 text-right">{{'User.username'|trans|raw}} :</div>
                                <div class="col-lg-9">{{user.username}}&nbsp;</div>
                                <div class="col-lg-3 text-right">{{'User.email'|trans|raw}} :</div>
                                <div class="col-lg-9"><a href="mailto:{{user.email}}">{{user.email}}</a>&nbsp;</div>
                                <div class="col-lg-12">&nbsp;</div>

                                <div class="col-lg-3 text-right">{{'User.lockout'|trans|raw}} :</div>
                                <div class="col-lg-9">{{('User.lockout.'~user.lockout)|trans}}&nbsp;</div>
                                <div class="col-lg-12">&nbsp;</div>

                                <div class="col-lg-3 text-right">{{'User.userRoles'|trans|raw}} :</div>
                                <div class="col-lg-9">
                                    {%if user.userRoles|length!=0%}
                                    <ul class="list-unstyled">
                                    {% for r in user.userRoles %}
                                        {% if is_granted('ROLE_SUPERADMIN') %}
                                        <li><a href="{{path('_admin_role_editGet', {'id': r.id})}}">{{r.name}}</a></li>
                                        {% else %}
                                        <li>{{r.name}}</li>
                                        {% endif %}
                                    {% endfor %}
                                    </ul>
                                    {%else%}
                                    {{bsLabelWarning('_NONE'|trans)}}
                                    {%endif%}&nbsp;
                                </div>
                                <div class="col-lg-12">&nbsp;</div>

                                <div class="col-lg-3 text-right">{{'User.logins'|trans|raw}} :</div>
                                <div class="col-lg-9">{{user.logins}}&nbsp;</div>
                                <div class="col-lg-3 text-right">{{'User.lastLogin'|trans|raw}} :</div>
                                <div class="col-lg-9">{%if user.lastLogin is not null%}{{user.lastLogin|localeDate('full')}} {{'_At'|trans}} {{user.lastLogin|localeDate('none', 'medium')}}{%else%}{{bsLabelWarning('_NA'|trans|raw)}}{%endif%}&nbsp;</div>
                                <div class="col-lg-12">&nbsp;</div>

                                <div class="col-lg-3 text-right">{{'User.avatar'|trans|raw}} :</div>
                                <div class="col-lg-9">{%if user.avatar is not empty%}<img class="img-responsive img-thumbnail" alt="{{user.fullName}}" src="{{asset('res/avatars/'~user.avatar)}}">{%else%}{{bsLabelWarning('_NA'|trans|raw)}}{%endif%}&nbsp;</div>
                                <div class="col-lg-12">&nbsp;</div>

                                <div class="col-lg-3 text-right">{{'User.sexe'|trans|raw}} :</div>
                                <div class="col-lg-9">{%if user.sexe is not null%}{{('User.sexe.'~user.sexe)|trans}}{%else%}{{bsLabelWarning('_NA'|trans|raw)}}{%endif%}&nbsp;</div>
                                <div class="col-lg-3 text-right">{{'User.firstName'|trans|raw}} :</div>
                                <div class="col-lg-9">{%if user.firstName is not empty%}{{user.firstName}}{%else%}{{bsLabelWarning('_NA'|trans|raw)}}{%endif%}&nbsp;</div>
                                <div class="col-lg-3 text-right">{{'User.lastName'|trans|raw}} :</div>
                                <div class="col-lg-9">{%if user.lastName is not empty%}{{user.lastName}}{%else%}{{bsLabelWarning('_NA'|trans|raw)}}{%endif%}&nbsp;</div>
                                <div class="col-lg-12">&nbsp;</div>

                                <div class="col-lg-3 text-right">{{'User.birthday'|trans|raw}} :</div>
                                <div class="col-lg-9">{%if user.birthday is not null%}{{user.birthday|localeDate('full')}}{%else%}{{bsLabelWarning('_NA'|trans|raw)}}{%endif%}&nbsp;</div>
                                <div class="col-lg-12">&nbsp;</div>

                                <div class="col-lg-3 text-right">{{'User.streetNum'|trans|raw}} :</div>
                                <div class="col-lg-9">{%if user.streetNum is not empty%}{{user.streetNum}}{%else%}{{bsLabelWarning('_NA'|trans|raw)}}{%endif%}&nbsp;</div>
                                <div class="col-lg-3 text-right">{{'User.address'|trans|raw}} :</div>
                                <div class="col-lg-9">{%if user.address is not empty%}{{user.address|raw}}{%else%}{{bsLabelWarning('_NA'|trans|raw)}}{%endif%}&nbsp;</div>
                                <div class="col-lg-3 text-right">{{'User.address2'|trans|raw}} :</div>
                                <div class="col-lg-9">{%if user.address2 is not empty%}{{user.address2|raw}}{%else%}{{bsLabelWarning('_NA'|trans|raw)}}{%endif%}&nbsp;</div>
                                <div class="col-lg-3 text-right">{{'User.town'|trans|raw}} :</div>
                                <div class="col-lg-9">{%if user.town is not empty%}{{user.town}}{%else%}{{bsLabelWarning('_NA'|trans|raw)}}{%endif%}&nbsp;</div>
                                <div class="col-lg-3 text-right">{{'User.zipCode'|trans|raw}} :</div>
                                <div class="col-lg-9">{%if user.zipCode is not empty%}{{user.zipCode}}{%else%}{{bsLabelWarning('_NA'|trans|raw)}}{%endif%}&nbsp;</div>
                                <div class="col-lg-3 text-right">{{'User.country'|trans|raw}} :</div>
                                <div class="col-lg-9">{%if user.country is not empty%}{{user.country|country}}{%else%}{{bsLabelWarning('_NA'|trans|raw)}}{%endif%}&nbsp;</div>
                                <div class="col-lg-12">&nbsp;</div>


                                <div class="col-lg-3 text-right">{{'User.phone'|trans|raw}} :</div>
                                <div class="col-lg-9">{%if user.phone is not empty%}<a href="call:{{user.phone}}">{{user.phone}}</a>{%else%}{{bsLabelWarning('_NA'|trans|raw)}}{%endif%}&nbsp;</div>
                                <div class="col-lg-3 text-right">{{'User.mobile'|trans|raw}} :</div>
                                <div class="col-lg-9">{%if user.mobile is not empty%}<a href="call:{{user.mobile}}">{{user.mobile}}</a>{%else%}{{bsLabelWarning('_NA'|trans|raw)}}{%endif%}&nbsp;</div>
                                <div class="col-lg-12">&nbsp;</div>

                                <div class="col-lg-3 text-right">{{'User.job'|trans}} :</div>
                                <div class="col-lg-9">{%if user.job is not null%}{{user.job.name}}{%else%}{{bsLabelWarning('_NA'|trans|raw)}}{%endif%}</div>
                                <div class="col-lg-3 text-right">{{'User.company'|trans}} :</div>
                                <div class="col-lg-9">{%if user.company is not empty%}{{user.company}}{%else%}{{bsLabelWarning('_NA'|trans|raw)}}{%endif%}</div>
                                <div class="col-lg-3 text-right">{{'User.fisc'|trans}} :</div>
                                <div class="col-lg-9">{%if user.fisc is not empty%}{{user.fisc}}{%else%}{{bsLabelWarning('_NA'|trans|raw)}}{%endif%}</div>
                                <div class="col-lg-12">&nbsp;</div>

                                <div class="col-lg-3 text-right">{{'User.dtCrea'|trans|raw}} :</div>
                                <div class="col-lg-9">{{user.dtCrea|localeDate('medium')}} {{'_At'|trans}} {{user.dtCrea|localeDate('none', 'short')}}&nbsp;</div>
                                <div class="col-lg-3 text-right">{{'User.dtUpdate'|trans|raw}} :</div>
                                <div class="col-lg-9">{{user.dtUpdate|localeDate('medium')}} {{'_At'|trans}} {{user.dtUpdate|localeDate('none', 'short')}}&nbsp;</div>
                                <br>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade{%if tabActive==2%} in active{%endif%}" id="edit">
                    <div class="panel box box-danger">
                        <div class="box-header"><h3 class="box-title">{{'User.tlabel.editAvatar'|trans}}</h3></div>
                        <div class="box-body">
                            {{form_start(UserUploadAvatarForm, {'method':'POST', 'action': path('_admin_user_editPost', {'id': user.id}), 'style': 'horizontal', 'attr': {'id':'avatar_upload'}})}}
                            {{form_row(UserUploadAvatarForm.avatar, {'label_col': 3, 'widget_col': 8, 'attr': {'class': 'wysiwyg'} })}}
                            <div class="form-group"><div class="col-lg-offset-3 col-lg-2"><button class="btn-primary btn" type="submit">{{glyphIco('save')}} {{'Action.btnUpload'|trans|raw}}</button></div></div>
                            {{form_end(UserUploadAvatarForm)}}
                            <div id="avatar_sel"></div>
                            <div id="dialog" title="{{'User.tlabel.editAvatar.crop'|trans}}">
                                <div class="progress">
                                    <div class="bar"></div>
                                    <div class="percent">0%</div>
                                </div>
                                <div id="status"></div>
                            </div>
                        </div>
                    </div>
                    <div class="panel box box-danger">
                        <div class="box-header"><h3 class="box-title">{{'User.tlabel.editProfile'|trans}}</h3></div>
                        <div class="box-body">
                            {{form_start(UserUpdateProfileForm, {'method':'POST', 'action': path('_admin_user_editPost', {'id': user.id}), 'style': 'horizontal'})}}
                            {{form_row(UserUpdateProfileForm.sexe, {'label_col': 3, 'widget_col': 3})}}
                            {{form_row(UserUpdateProfileForm.firstName, {'label_col': 3, 'widget_col': 5})}}
                            {{form_row(UserUpdateProfileForm.lastName, {'label_col': 3, 'widget_col': 5})}}
                            {{form_row(UserUpdateProfileForm.birthday, {'label_col': 3, 'widget_col': 3})}}
                            {{form_row(UserUpdateProfileForm.streetNum, {'label_col': 3, 'widget_col': 3})}}
                            {{form_row(UserUpdateProfileForm.address, {'label_col': 3, 'widget_col': 8, 'attr': {'class': 'wysiwyg'} })}}
                            {{form_row(UserUpdateProfileForm.address2, {'label_col': 3, 'widget_col': 8, 'attr': {'class': 'wysiwyg'} })}}
                            {{form_row(UserUpdateProfileForm.town, {'label_col': 3, 'widget_col': 5})}}
                            {{form_row(UserUpdateProfileForm.zipCode, {'label_col': 3, 'widget_col': 3})}}
                            {{form_row(UserUpdateProfileForm.country, {'label_col': 3, 'widget_col': 6})}}
                            {{form_row(UserUpdateProfileForm.phone, {'label_col': 3, 'widget_col': 5 })}}
                            {{form_row(UserUpdateProfileForm.mobile, {'label_col': 3, 'widget_col': 5 })}}
                            <div class="form-group"><div class="col-lg-offset-3 col-lg-2"><button class="btn-primary btn" type="submit">{{glyphIco('save')}} {{'Action.btnEdit'|trans|raw}}</button></div></div>
                            {{form_end(UserUpdateProfileForm)}}
                        </div>
                    </div>
                    <div class="panel box box-danger">
                        <div class="box-header"><h3 class="box-title">{{'User.tlabel.editJob'|trans}}</h3></div>
                        <div class="box-body">
                            {{form_start(UserUpdateJobForm, {'method':'POST', 'action': path('_admin_user_editPost', {'id': user.id}), 'style': 'horizontal'})}}
                            {{form_row(UserUpdateJobForm.job, {'label_col': 3, 'widget_col': 5 })}}
                            {{form_row(UserUpdateJobForm.company, {'label_col': 3, 'widget_col': 5 })}}
                            {{form_row(UserUpdateJobForm.fisc, {'label_col': 3, 'widget_col': 5 })}}
                            <div class="form-group"><div class="col-lg-offset-3 col-lg-2"><button class="btn-primary btn" type="submit">{{glyphIco('save')}} {{'Action.btnEdit'|trans|raw}}</button></div></div>
                            {{form_end(UserUpdateJobForm)}}
                        </div>
                    </div>
                    <div class="panel box box-danger">
                        <div class="box-header"><h3 class="box-title">{{'User.tlabel.editPreferedLang'|trans}}</h3></div>
                        <div class="box-body">
                            {{form_start(UserUpdatePreferedLangForm, {'method':'POST', 'action': path('_admin_user_editPost', {'id': user.id}), 'style': 'horizontal'})}}
                            {{form_row(UserUpdatePreferedLangForm.preferedLang, {'label_col': 3, 'widget_col': 5 })}}
                            <div class="form-group"><div class="col-lg-offset-3 col-lg-2"><button class="btn-primary btn" type="submit">{{glyphIco('save')}} {{'Action.btnEdit'|trans|raw}}</button></div></div>
                            {{form_end(UserUpdatePreferedLangForm)}}
                        </div>
                    </div>
                    <div class="panel box box-danger">
                        <div class="box-header"><h3 class="box-title">{{'User.tlabel.editEmail'|trans}}</h3></div>
                        <div class="box-body">
                            {{form_start(UserUpdateEmailForm, {'method':'POST', 'action': path('_admin_user_editPost', {'id': user.id}), 'style': 'horizontal'})}}
                            {{form_row(UserUpdateEmailForm.email, {'label_col': 3, 'widget_col': 5 })}}
                            <div class="form-group"><div class="col-lg-offset-3 col-lg-2"><button class="btn-primary btn" type="submit">{{glyphIco('save')}} {{'Action.btnEdit'|trans|raw}}</button></div></div>
                            {{form_end(UserUpdateEmailForm)}}
                        </div>
                    </div>
                    {% if is_granted('ROLE_SUPERADMIN') %}
                    <div class="panel box box-danger">
                        <div class="box-header"><h3 class="box-title">{{'User.tlabel.editPassword'|trans}}</h3></div>
                        <div class="box-body">
                            {{form_start(UserUpdatePasswordForm, {'method':'POST', 'action': path('_admin_user_editPost', {'id': user.id}), 'style': 'horizontal'})}}
                            {{form_row(UserUpdatePasswordForm.clearPassword, {'label_col': 3, 'widget_col': 5 })}}
                            <div class="form-group"><div class="col-lg-offset-3 col-lg-2"><button class="btn-primary btn" type="submit">{{glyphIco('save')}} {{'Action.btnEdit'|trans|raw}}</button></div></div>
                            {{form_end(UserUpdatePasswordForm)}}
                        </div>
                    </div>
                    <div class="panel box box-danger">
                        <div class="box-header"><h3 class="box-title">{{'User.tlabel.editLockout'|trans}}</h3></div>
                        <div class="box-body">
                            {{form_start(UserUpdateLockoutForm, {'method':'POST', 'action': path('_admin_user_editPost', {'id': user.id}), 'style': 'horizontal'})}}
                            {{form_row(UserUpdateLockoutForm.lockout, {'label_col': 3, 'widget_col': 3 })}}
                            <div class="form-group"><div class="col-lg-offset-3 col-lg-2"><button class="btn-primary btn" type="submit">{{glyphIco('save')}} {{'Action.btnEdit'|trans|raw}}</button></div></div>
                            {{form_end(UserUpdateLockoutForm)}}
                        </div>
                    </div>
                    <div class="panel box box-danger">
                        <div class="box-header"><h3 class="box-title">{{'User.tlabel.editUserRoles'|trans}}</h3></div>
                        <div class="box-body">
                            {{form_start(UserUpdateUserRolesForm, {'method':'POST', 'action': path('_admin_user_editPost', {'id': user.id}), 'style': 'horizontal'})}}
                            {{form_row(UserUpdateUserRolesForm.userRoles, {'label_col': 3, 'widget_col': 8 })}}
                            <div class="form-group"><div class="col-lg-offset-3 col-lg-2"><button class="btn-primary btn" type="submit">{{glyphIco('save')}} {{'Action.btnEdit'|trans|raw}}</button></div></div>
                            {{form_end(UserUpdateUserRolesForm)}}
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{%endblock content%}
