{% extends 'AllucoAdminBundle::template.html.twig' %}
{%block end_static_js%}
{{ parent() }}
<script type="text/javascript" src="{{asset('bundles/allucores/js/tinymce/jquery.tinymce.min.js')}}"></script>
{%endblock end_static_js%}
{%block end2_dynamic_jstxt%}
$(function() {
    $('textarea.wysiwyg').each(function() {
        var options = {
            script_url : '{{asset('bundles/allucores/js/tinymce/tinymce.min.js')}}',
            theme: "modern",
            plugins: [ "advlist autolink lists link image charmap preview hr anchor pagebreak", "searchreplace wordcount visualblocks visualchars code fullscreen", "nonbreaking save table contextmenu directionality", "template paste textcolor" ],
            {%if app.request.locale != 'en'%}
            language : '{{ app.request.locale }}',
            {% endif %}
            toolbar: "insertfile undo redo | styleselect | bold italic | forecolor backcolor | alignleft aligncenter alignright alignjustify | preview "
        };
        $this = $(this);
        if($this.is('[required]')) {
            options.oninit = function(editor) {
                editor.on('change', function(e) {
                    editor.save();
                });
            }
        }
        $this.tinymce(options);
    });
});
{%endblock end2_dynamic_jstxt%}
{%block breadcrumb%}
<ol class="breadcrumb">
    <li><a href="{{ path('_admin_homepage') }}">{{ faIco('dashboard') }} &nbsp; {{'Breadcrumb.admin.home'|trans|raw}}</a></li>
    <li><a href="{{ path('_admin_constantStr_list') }}">{{faIco('gears')}} &nbsp; {{'Breadcrumb.admin.constantStr.list'|trans|raw}}</a></li>
    <li class="active"><a href="{{ path('_admin_constantStr_addGet') }}">{{glyphIco('plus')}} &nbsp; {{'Breadcrumb.admin.constantStr.add'|trans|raw}}</a></li>
</ol>
{%endblock breadcrumb%}
{%block content%}
<div class="row">
    <div class="col-lg-12">
        <div class="well well-sm text-right">
            <a href="{{ path('_admin_constantStr_list') }}" class="btn btn-primary">{{ faIco('th') }} {{ 'Action.list'|trans }}</a>
        </div>
        <div class="box box-primary">
            <div class="box-header">
                <h3 class="box-title">{{ 'ConstantStr.tlabel.add'|trans|raw}}</h3>
            </div>
            <div class="box-body">
                {{form_start(ConstantStrNewForm, {'method':'POST', 'action': path('_admin_constantStr_addPost'), 'style': 'horizontal'})}}
                {{form_row(ConstantStrNewForm.name, {'label_col': 3, 'widget_col': 5})}}
                {{form_row(ConstantStrNewForm.value, {'label_col': 3, 'widget_col': 4})}}
                {{form_row(ConstantStrNewForm.description, {'label_col': 3, 'widget_col': 8, 'attr': {'class': 'wysiwyg'} })}}
                <div class="form-group"><div class="col-lg-offset-3 col-lg-2"><button class="btn-primary btn" type="submit">{{glyphIco('save')}} {{'Action.btnAdd'|trans|raw}}</button></div></div>
                {{form_end(ConstantStrNewForm)}}
            </div>
        </div>
    </div>
</div>
{%endblock content%}
